:root {
    --wrong-color: #4d4948;
    --correct-color: #228c22;
    --partial-correct: #cc8200;
    --text-color: #fefefe;
    --letter-color: #fdfdfd;
    --bg-primary: #212121;
    --info: #f55a10;
}

button {
    all: unset;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-color);
}

.support-info {
    display: none;
    font-size: 4rem;
    color: rgb(255, 0, 0);
}

.show {
    display: block;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #404040;
}

.h1-heading {
    font-size: 1.25rem;
    text-align: left;
}

.heading__text small {
    font-size: 12px;
    color: var(--info);
}

.btns-language-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    color: #d9d9d9;
    font-size: 1.125rem;
    cursor: pointer;
}

.btn-language {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.btn-language:hover {
    color: #0d0d0d;
    background-color: #d9d9d9;
    outline: 1px solid #d9d9d9;
}

.language-selected {
    color: #0d0d0d;
    background-color: #d9d9d9;
}

.letter-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.word-container {
    display: flex;
    gap: 0.3rem;
}

.letter {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    height: 3.25rem;
    width: 3.25rem;
    border: 2px solid #404040;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-limegreen {
    background-color: var(--correct-color);
    border-color: var(--correct-color);
}
.bg-lightgray {
    background-color: var(--wrong-color);
    border-color: var(--wrong-color);
}
.bg-yellow {
    background-color: var(--partial-correct);
    border-color: var(--partial-correct);
}

.win {
    background-size: 1000% 1000%;
    animation: win 3s linear infinite;
}

.invalid-word div {
    border: 2px solid var(--info);
    animation: invalid 0.3s ease-in-out;
}

.hidden {
    visibility: hidden;
}

.keyboard {
    font-size: 1.25rem;
    max-width: inherit;
    margin: 2rem 0.125rem 0 0.125rem;
    cursor: pointer;
}

.keyboard__row {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
    justify-content: center;
    align-items: stretch;
    margin-top: 1rem;
}

.keyboard__row button {
    background-color: lightgray;
    color: var(--bg-primary);
    padding: 0.25rem;
    border-radius: 5px;
    font-weight: bold;
    min-width: 22px;
    height: 40px;
    text-align: center;
}

.keyboard__row .backspace {
    padding: 0;
    height: 48px;
}
.keyboard__row .backspace span {
    width: 100%;
    height: 100%;
    padding: 0.25rem;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .heading__text {
        text-align: center;
    }

    .letter {
        font-size: 3rem;
        height: 4rem;
        width: 4rem;
    }

    .header {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h1-heading {
        margin-top: 1rem;
        color: #d9d9d9;
        font-size: 3rem;
        text-align: center;
    }

    .btns-language-wrapper {
        display: flex;
        justify-content: center;
        gap: 1rem;
        color: #d9d9d9;
        font-size: 1.125rem;
        margin-bottom: 1rem;
    }

    .btn-language {
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        padding: 0.25rem;
        transition: all 0.2s ease-in-out;
    }
}

@keyframes invalid {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.loading div {
    left: 47px;
    top: 24px;
    position: absolute;
    animation: loading linear 1s infinite;
    background: #fe718d;
    width: 6px;
    height: 12px;
    border-radius: 3px / 6px;
    transform-origin: 3px 26px;
}
.loading div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #fe718d;
}
.loading div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #f47e60;
}
.loading div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #f8b26a;
}
.loading div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #abbd81;
}
.loading div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #849b87;
}
.loading div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #6492ac;
}
.loading div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #637cb5;
}
.loading div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #6a63b6;
}
.loading div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #fe718d;
}
.loading div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #f47e60;
}
.loading div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #f8b26a;
}
.loading div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #abbd81;
}
.loading-spinner {
    width: 50px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}
.loading {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.5);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.loading div {
    box-sizing: content-box;
}

@keyframes win {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }
    8% {
        color: rgb(255, 127, 0);
    }
    16% {
        color: rgb(255, 255, 0);
    }
    25% {
        color: rgb(127, 255, 0);
    }
    33% {
        color: rgb(0, 255, 0);
    }
    41% {
        color: rgb(0, 255, 127);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    58% {
        color: rgb(0, 127, 255);
    }
    66% {
        color: rgb(0, 0, 255);
    }
    75% {
        color: rgb(127, 0, 255);
    }
    83% {
        color: rgb(255, 0, 255);
    }
    91% {
        color: rgb(255, 0, 127);
    }
}
