* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin-bottom: 2rem;
}

.h1-heading {
    margin-top: 5rem;
}

main {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    padding-top: 3rem;
}

.word-container {
    display: flex;
    margin: 0.5rem 0;
}

.letter {
    font-size: 3rem;
    text-transform: uppercase;
    height: 3rem;
    width: 3rem;
    margin: 0 0.5rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-limegreen {
    background-color: limegreen;
}
.bg-lightgray {
    background-color: lightgray;
}
.bg-yellow {
    background-color: yellow;
}

.win {
    background: linear-gradient(
        270deg,
        #fb0404,
        #2732c6,
        #15ffc3,
        #e8f902,
        #ff2f80,
        #52c627
    );
    background-size: 1000% 1000%;
    color: white;

    animation: win 3s linear infinite;
}

@keyframes win {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.loss,
.invalid-word {
    text-align: center;
    color: black;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
}
